<h1>About</h1>
<br></br>
<h5>Here at Jungle, we take pride in our unique marketplace as a destination for quirky personalities to explore tried and true products that satisfy anyone's curiosity, no matter how zany the inquiries! Founded in the middle of the Jungle by Prince Pumba himself, our market was designed for the most exotic customers with tropical tropes in mind. Don't believe us? Take a peek!</h5>